/*
 * Contents
 *
 * Global resets
 * Custom type
 * Wrapper
 * Container
 * Masthead
 * Sidebar
 * Slide effect
 * Posts and pages
 * Pagination
 * Reverse layout
 * Theming
 * Icons
 * Site search
 * Site footer
 * Lists
 * Ratings
 */
/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */
/* line 35, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

/* line 40, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

/* line 48, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
html {
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%; }

/* line 58, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
body {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: -0.018rem;
  text-size-adjust: 100%;
  border-top: 4px solid #557799; }

/* No `:visited` state is required by default (browsers will use `a`) */
/* line 67, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
a {
  color: inherit;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.3)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 50%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 50%);
  background-repeat: repeat-x;
  -webkit-background-size: 2px 2px;
          background-size: 2px 2px;
  background-position: 0 1.1em; }

/* `:focus` is linked to `:hover` for basic accessibility */
/*
 * Custom Type
 *
 * Update the global typography of ht epage
 */
/* Headings */
/* line 87, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI", "jaf-bernino-sans", "Helvetica Neue", "Arial", sans-serif;
  margin-bottom: .5rem;
  font-weight: 700;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility; }

/* line 95, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
h1 {
  font-size: 2rem; }

/* line 98, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
h2 {
  margin-top: 1rem;
  font-size: 1.5rem; }

/* line 102, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem; }

/* line 106, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem; }

/* Body text */
/* line 112, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
p {
  margin-top: 0;
  margin-bottom: 1.5rem;
  letter-spacing: 0.01rem; }

/* line 118, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
strong {
  color: #303030; }

/*
 * Wrapper
 *
 * The wrapper is used to position site content when the sidebar is toggled. We
 * use an outter wrap to position the sidebar without interferring with the
 * regular page content.
 */
/* line 131, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.wrap {
  position: relative;
  width: 100%;
  z-index: 200;
  background-color: white; }

/*
 * Container
 *
 * Center the page content.
 */
/* line 145, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.container {
  max-width: 31.8182rem;
  padding-left: 1rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 46.5625em) {
  /* line 154, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
  .container {
    max-width: 35rem;
    padding-left: 0;
    padding-right: 0; } }
/*
 * Masthead
 *
 * Super small header above the content for site name and short description.
 */
/* line 167, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.masthead {
  padding-top: 0;
  padding-bottom: .5rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08); }

/* line 174, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #505050;
  text-align: center; }

/* line 180, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.masthead-title a {
  font-size: 1rem;
  background-image: none;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8); }

@media (min-width: 46.5625em) {
  /* line 188, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
  .masthead-title a {
    font-size: 1.1rem; } }
/*
 * Sidebar
 *
 * The sidebar is the drawer, the item we are toggling with our handy hamburger
 * button in the corner of the page.
 *
 * This particular sidebar implementation was inspired by Chris Coyier's
 * "Offcanvas Menu with CSS Target" article, and the checkbox variation from the
 * comments by a reader. It modifies both implementations to continue using the
 * checkbox (no change in URL means no polluted browser history), but this uses
 * `position` for the menu to avoid some potential content reflow issues.
 *
 * Source: http://css-tricks.com/off-canvas-menu-with-css-target/#comment-207504
 */
/* Style and "hide" the sidebar */
/* line 209, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.sidebar {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  width: 13rem;
  overflow-y: auto;
  font-family: "Segoe UI", "jaf-bernino-sans", "Helvetica Neue", "Arial", sans-serif;
  font-size: .8rem;
  color: rgba(255, 255, 255, 0.6);
  background-color: #191918;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
  letter-spacing: .016rem;
  border-top: 4px solid #191918; }

@media (min-width: 46.5625em) {
  /* line 227, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
  .sidebar {
    border-color: #557799; } }
/* Sidebar content */
/* line 233, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.sidebar a {
  font-weight: normal;
  color: rgba(255, 255, 255, 0.65098);
  background-image: none; }

/* line 238, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.sidebar-item {
  padding: 1rem; }

/* line 241, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.sidebar-item p:last-child {
  margin-bottom: 0; }

/* Sidebar nav */
/* line 246, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.sidebar-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

/* line 249, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.sidebar-nav-item {
  display: block;
  padding: .5rem 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1); }

/* line 256, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.sidebar-nav-item.active,
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: transparent; }

/* Hide the sidebar checkbox that we toggle with `.sidebar-toggle` */
/* line 263, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.sidebar-checkbox {
  display: none; }

/* Style the `label` that we use to target the `.sidebar-checkbox` */
/* line 268, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.sidebar-toggle {
  position: absolute;
  top: .55rem;
  left: .5rem;
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  padding: .5rem .65rem;
  color: white;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  z-index: 300;
  -webkit-tap-highlight-color: white; }

/* Hamburger icon */
/* line 285, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.nav-menu {
  height: 12px; }

/* Slide effect
 *
 * Handle the sliding effects of the sidebar and content in one spot, seperate
 * from the default styles.
 *
 * As an a heads up, we don't use `transform: translate3d()` here because when
 * mixed with `position: fixed;` for the sidebar toggle, it creates a new
 * containing block. Put simply, the fixed sidebar toggle behaves like
 * `position: absolute;` when transformed.
 *
 * Read more about it at http://meyerweb.com/eric/thoughts/2011/09/12/.
 */
/* line 307, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.wrap,
.sidebar,
.sidebar-toggle,
.sidebar-checkbox,
.nav-menu {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

/* line 312, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.wrap,
.nav-menu,
.sidebar-toggle {
  -webkit-transition: -webkit-transform .3s ease-in-out;
          transition: transform .3s ease-in-out; }

/* line 316, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
#sidebar-checkbox:checked + .sidebar {
  opacity: 1; }

/* line 320, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
#sidebar-checkbox:checked ~ .wrap,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  -webkit-transform: translateX(13rem);
      -ms-transform: translateX(13rem);
          transform: translateX(13rem); }

/*
 * Posts and pages
 *
 * Each post is wrapped in `.post` and is used on default and post layouts. Each
 * page is wrapped in `.page` and is only used on the page layout.
 */
/* line 332, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.page,
.post {
  margin-top: 3rem;
  margin-bottom: 4em; }

/* Blog post or page title */
/* line 340, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.page-title,
.post-title,
.post-title a {
  color: #303030;
  font-size: 1.5rem;
  letter-spacing: -0.02em; }

/* line 346, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.page-title,
.post-title {
  margin-top: 0;
  text-align: center; }

@media (min-width: 46.5625em) {
  /* line 351, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
  .post-title {
    font-size: 2.25rem;
    letter-spacing: -0.04em; } }
/* Slub line below post title */
/* line 358, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.post-slug {
  display: block;
  font-family: "Segoe UI", "jaf-bernino-sans", "Helvetica Neue", "Arial", sans-serif;
  font-size: .7rem;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #9a9a9a;
  text-align: center; }

@media (min-width: 46.5625em) {
  /* line 368, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
  .post-slug {
    font-size: .8rem;
    letter-spacing: -0.02rem; } }
@media (min-width: 31.3125em) {
  /* line 375, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
  .post-content p {
    letter-spacing: .00723rem;
    line-height: 1.5;
    margin-bottom: 1.3636363rem;
    font-size: 1.1rem;
    text-indent: 2.2rem; } }
/*
 * Pagination
 *
 * Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
 * there are no more previous or next posts to show.
 */
/* line 392, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.pagination {
  overflow: hidden;
  /* clearfix */
  margin-left: -1rem;
  margin-right: -1.25rem;
  color: #ccc;
  text-align: center;
  background-color: #fcfcfc; }

/* Pagination items can be `span`s or `a`s */
/* line 402, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.pagination-item {
  font-family: "Segoe UI", "jaf-bernino-sans", "Helvetica Neue", "Arial", sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  display: block;
  padding: 1rem;
  margin: 0;
  width: 50%;
  background-image: none; }

/* line 412, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.pagination-item:first-child {
  margin-bottom: -1px; }

/* line 415, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.pagination-item.newer {
  text-align: left;
  float: left; }

/* line 419, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.pagination-item.older {
  text-align: right;
  float: right; }

/* line 423, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.pagination-icon {
  vertical-align: middle;
  width: 1.4rem;
  height: 1.4rem;
  width: 1rem;
  height: 1rem;
  padding-bottom: 3px; }

/* line 431, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.pagination-icon path {
  fill: rgba(0, 0, 0, 0.8); }

/* line 438, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.pagination-item:hover {
  background-color: #f5f5f5; }

/*
 * Icons
 *
 * Inline SVG styles.
 */
/* line 449, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.icon {
  width: 1rem;
  height: 1rem;
  vertical-align: bottom; }

/* line 455, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.twitter path {
  fill: #0054ab; }

/* line 459, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.feed path {
  fill: #f4a546; }

/*
 * Site search box.
 *
 */
/* Search box in sidebar */
/* line 470, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.search-wrap {
  position: relative;
  padding-top: .25rem;
  padding-bottom: .25rem; }

/* line 475, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.search-icon {
  width: .8rem;
  height: .8rem;
  position: absolute;
  top: 1.1rem;
  left: .9rem;
  fill: rgba(0, 0, 0, 0.3); }

/* line 484, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.site-search-input {
  font-size: .8rem;
  width: 12rem;
  border-radius: .8rem;
  margin: .5rem;
  font-family: "Segoe UI", "jaf-bernino-sans", "Helvetica Neue", "Arial", sans-serif;
  padding: .3rem .5rem .3rem 1.5rem;
  border: none; }

/* line 493, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
input::-webkit-input-placeholder {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: opacity 0.3s linear;
  color: rgba(0, 0, 0, 0.3); }

/* line 498, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
input:focus::-webkit-input-placeholder {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 0; }

/*
 * Site footer.
 *
 */
/* Site footer */
/* line 509, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.site-footer {
  color: rgba(0, 0, 0, 0.3);
  font-family: "Segoe UI", "jaf-bernino-sans", "Helvetica Neue", "Arial", sans-serif;
  font-size: .7rem;
  text-align: center;
  padding: 1rem; }

@media (min-width: 46.5625em) {
  /* line 517, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
  .site-footer {
    font-size: .8rem; } }
/* line 521, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.site-footer-feed {
  margin-left: .5rem; }

/* line 525, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.site-footer .icon {
  background-color: white; }

/*
 * Lists.
 *
 */
/* line 534, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem; }

/* line 538, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
li {
  list-style-type: none; }

/* line 542, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
dt {
  font-weight: bold; }

/* line 545, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
dd {
  margin-bottom: .5rem; }

/* Title for lists */
/* line 550, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.list-title {
  display: block;
  margin: 0;
  color: #c0c0c0;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: .065rem;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: .65rem;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: .4rem 0; }

/* line 566, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.plain-list {
  margin-left: 0;
  padding-left: 0; }

@media (min-width: 46.5625em) {
  /* line 571, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
  .plain-list {
    max-width: 32rem;
    margin: 0 auto; } }
/* line 576, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.list-item {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  line-height: .8; }

/* line 584, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.list-item:first-child {
  margin-top: 0; }

/* line 587, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.list-item:last-child {
  border-bottom: none;
  margin-bottom: 0; }

/* line 591, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.list-item-with-number {
  position: relative;
  padding-left: 2rem; }

/* line 595, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.list-item-number {
  margin-top: -1.2rem;
  font-size: 1.2rem;
  position: absolute;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 0; }

/* line 605, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.list-item-title {
  font-family: "Segoe UI", "jaf-bernino-sans", "Helvetica Neue", "Arial", sans-serif;
  font-size: 0.9rem;
  letter-spacing: -0.02em;
  line-height: 1.2;
  display: block;
  margin-bottom: 0.4rem; }

@media (min-width: 46.5625em) {
  /* line 614, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
  .list-item-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    line-height: 1.1;
    display: inline-block; } }
/* line 621, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.list-item-title a {
  color: rgba(0, 0, 0, 0.8);
  background-image: none;
  position: relative;
  font-weight: 700; }

/* line 627, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.list-item-description {
  font-family: "Segoe UI", "jaf-bernino-sans", "Helvetica Neue", "Arial", sans-serif;
  font-size: 0.7rem;
  line-height: 1.2;
  font-weight: 300;
  display: inline;
  color: rgba(0, 0, 0, 0.4); }

@media (min-width: 46.5625em) {
  /* line 636, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
  .list-item-description {
    font-size: 0.75rem;
    letter-spacing: normal;
    display: block;
    line-height: 1.3; } }
/* line 643, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.list-item-rating {
  height: .7rem;
  width: 3.5rem;
  display: inline-block;
  margin-right: .2rem; }
  /* line 649, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
  .list-item-rating .rating {
    display: inline-block; }
  /* line 653, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
  .list-item-rating .star, .list-item-rating .half-star, .list-item-rating .empty-star {
    width: .8rem;
    height: .8rem; }

@media (min-width: 46.5625em) {
  /* line 659, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
  .list-item-rating {
    width: 4.5rem;
    height: .9rem;
    position: relative;
    top: 1px;
    margin: 0 0 0 0.3rem; }
    /* line 666, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
    .list-item-rating .star, .list-item-rating .empty-star {
      width: .9rem;
      height: .9rem; } }
@media (min-width: 46.5625em) {
  /* line 675, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
  .list-item-rating-placeholder {
    display: none; } }
/* line 680, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.list-item-slug {
  margin-top: .5rem;
  font-size: .75rem;
  font-weight: normal;
  height: 16px; }

/* line 687, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.star {
  fill: #EDA829; }

/* line 691, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.empty-star {
  fill: #ddd; }

@media (min-width: 46.5625em) {
  /* line 696, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
  .star, .empty-star {
    height: 1.5rem;
    width: 1.5rem; } }
/* line 702, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.rating-wrap {
  width: 5rem;
  height: 1rem;
  margin: 2rem auto; }

@media (min-width: 46.5625em) {
  /* line 709, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
  .rating-wrap {
    width: 7.5rem;
    height: 1.5rem; } }
/*
 * Cards
 *
 * Viewings and credits.
 */
/* line 721, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.card-header {
  font-family: "Segoe UI", "jaf-bernino-sans", "Helvetica Neue", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: .6rem 0 1.4rem;
  text-transform: uppercase;
  font-size: .55rem;
  letter-spacing: .1em;
  color: rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.15); }

@media (min-width: 46.5625em) {
  /* line 733, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
  .card-header {
    font-size: .6rem; } }
/* line 738, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.card-sub-header {
  font-family: "Segoe UI", "jaf-bernino-sans", "Helvetica Neue", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-size: .55rem;
  letter-spacing: .1em;
  color: rgba(0, 0, 0, 0.2); }

@media (min-width: 46.5625em) {
  /* line 748, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
  .card-sub-header {
    font-size: .6rem; } }
/* line 753, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.card-description {
  font-size: .75rem;
  font-family: "Segoe UI", "jaf-bernino-sans", "Helvetica Neue", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.6); }

@media (min-width: 46.5625em) {
  /* line 759, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
  .card-description {
    font-size: .8rem;
    letter-spacing: inherit; } }
/* line 765, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.role {
  color: rgba(0, 0, 0, 0.3); }

/*
 * Aka titles
 *
 */
/* line 774, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.aka {
  margin-bottom: 1rem;
  text-align: center; }

/* line 779, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.aka-heading {
  font-size: .8rem;
  font-family: "Segoe UI", "jaf-bernino-sans", "Helvetica Neue", "Arial", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3); }

/* line 786, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.aka-title {
  letter-spacing: -.02rem;
  font-family: "Segoe UI", "jaf-bernino-sans", "Helvetica Neue", "Arial", sans-serif;
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
  font-size: .8rem; }

/*
 * Multi-column
 *
 */
@media (min-width: 50em) {
  /* line 800, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
  .column-half {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    padding-right: 1rem; }

  /* line 806, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
  .column-half:last-child {
    padding-right: 0;
    padding-left: 1rem; }

  /* line 810, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
  .column-one-third {
    display: inline-block;
    width: 33%;
    vertical-align: top;
    padding-right: 1rem; }

  /* line 816, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
  .column-two-thirds {
    display: inline-block;
    vertical-align: top;
    width: 66%;
    padding-right: 0;
    padding-left: 1rem; } }
/* line 825, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.full {
  display: none; }

/* line 829, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
.abbreviation:after {
  content: ':'; }

@media (min-width: 46.5625em) {
  /* line 834, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
  .abbreviation:after {
    content: ''; }

  /* line 838, /Users/fshowalt/Workspace/movielog/source/stylesheets/application.scss */
  .full {
    display: inline; } }
/* line 1, /Users/fshowalt/Workspace/movielog/source/stylesheets/_filters.scss */
.filter-controls-header {
  border-top: none;
  margin-top: 0; }

/* line 7, /Users/fshowalt/Workspace/movielog/source/stylesheets/_filters.scss */
.filter-results .list-item:first-child {
  margin-top: 2rem; }

/* line 12, /Users/fshowalt/Workspace/movielog/source/stylesheets/_filters.scss */
.filter-text-box, .filter-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  font-family: "Segoe UI", "jaf-bernino-sans", "Helvetica Neue", "Arial", sans-serif;
  background-color: #F5F5F5;
  border-radius: none;
  border: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  color: #555555;
  display: inline-block;
  height: 2rem;
  line-height: 1.4;
  padding: .375rem .3125rem;
  vertical-align: middle;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-size: .8rem; }
  /* line 30, /Users/fshowalt/Workspace/movielog/source/stylesheets/_filters.scss */
  .filter-text-box:focus, .filter-select:focus {
    outline: 0; }

/* line 35, /Users/fshowalt/Workspace/movielog/source/stylesheets/_filters.scss */
.filter-control {
  margin-bottom: 2rem; }

/* line 39, /Users/fshowalt/Workspace/movielog/source/stylesheets/_filters.scss */
.filter-label {
  font-family: "Segoe UI", "jaf-bernino-sans", "Helvetica Neue", "Arial", sans-serif;
  font-size: .8rem;
  color: rgba(0, 0, 0, 0.3); }

/* line 45, /Users/fshowalt/Workspace/movielog/source/stylesheets/_filters.scss */
.filter-select {
  text-indent: 0.01px;
  text-overflow: ''; }

/* line 51, /Users/fshowalt/Workspace/movielog/source/stylesheets/_filters.scss */
.filter-range {
  font-family: "Segoe UI", "jaf-bernino-sans", "Helvetica Neue", "Arial", sans-serif;
  min-height: 4rem;
  position: relative; }

/* line 57, /Users/fshowalt/Workspace/movielog/source/stylesheets/_filters.scss */
.filter-range__min {
  bottom: 0;
  left: 0;
  position: absolute;
  color: rgba(0, 0, 0, 0.4); }

/* line 64, /Users/fshowalt/Workspace/movielog/source/stylesheets/_filters.scss */
.filter-range__max {
  bottom: 0;
  position: absolute;
  right: 0;
  color: rgba(0, 0, 0, 0.4); }

/*        General CSS resets;
 *                The target itself is not affected, allowing
 *                the remainder of the document to use an
 *                alternate box-sizing model;
 *                Support for box-sizing is wide spread:
 *                http://caniuse.com/#search=box-sizing
 */
/* line 78, /Users/fshowalt/Workspace/movielog/source/stylesheets/_filters.scss */
.noUi-target * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -ms-touch-action: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default; }

/* line 86, /Users/fshowalt/Workspace/movielog/source/stylesheets/_filters.scss */
.noUi-target {
  background: #F5F5F5; }

/*        Main slider bar;
 *                Use box-shadow instead of border to keep absolute
 *                positioning unrelated to the styling.
 */
/* line 94, /Users/fshowalt/Workspace/movielog/source/stylesheets/_filters.scss */
.noUi-base {
  margin: auto 1rem;
  height: 2.125rem;
  position: relative; }

/*        Handles + active state;
 */
/* line 102, /Users/fshowalt/Workspace/movielog/source/stylesheets/_filters.scss */
.noUi-handle {
  left: -1.0625rem;
  width: 2.125rem;
  height: 2.125rem;
  z-index: 1;
  position: relative;
  background: white;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3); }

/* line 113, /Users/fshowalt/Workspace/movielog/source/stylesheets/_filters.scss */
.noUi-active {
  background: #E9E9E9;
  -webkit-box-shadow: inset 0 0 5px #DDD;
          box-shadow: inset 0 0 5px #DDD; }

/*        Styling-only classes;
 *                Structured to prevent double declarations
 *                for various states of the slider.
 */
/* line 122, /Users/fshowalt/Workspace/movielog/source/stylesheets/_filters.scss */
.noUi-background {
  background: #F5F5F5; }

/*        Functional styles for handle positioning;
 *                Note that the origins will inherit border radius
 *                from the parent, even though the default theme
 *                doesn't use curved borders.
 */
/* line 131, /Users/fshowalt/Workspace/movielog/source/stylesheets/_filters.scss */
.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: inherit; }

/* line 139, /Users/fshowalt/Workspace/movielog/source/stylesheets/_filters.scss */
.noUi-origin + .noUi-origin {
  background: inherit !important; }

/* line 143, /Users/fshowalt/Workspace/movielog/source/stylesheets/_filters.scss */
.noUi-z-index {
  z-index: 10; }
